@font-face {
    font-family: 'Roboto';
    src: url('roboto.ttf');
}

.root {
    -fx-background-color: white;

}

#main-menu.menu-bar, #main-menu .menu-item, #main-menu .menu:focused, #main-menu .menu:focused .label,  #main-menu .context-menu, .menu-hbox{
    -fx-background-color: #2A333E;
}

#main-menu.menu-bar{
    -fx-padding: 15px 10px;
    -fx-font-family: "Roboto";
}

.roboto{
    -fx-font-family: "Roboto";
}

#main-menu .menu{
    -fx-border-style: solid;
    -fx-border-color: #2A333E;
    -fx-border-width: 0 0 5px 0;
}


#main-menu .menu:hover{
    -fx-border-color: #3888cb;
}

#main-menu .menu .label, #main-menu .menu:focused, #main-menu .menu-item .label{
    -fx-background-color: #2A333E;
    -fx-text-fill: #cccccc;
}

#main-menu .context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;

    -fx-padding: 10px 20px 10px 20px;
}

#main-menu .menu:hover ,#main-menu .menu:hover .label, #main-menu .menu:showing,#main-menu .menu:showing .label {
    -fx-background-color: #2A333E;
}

#main-menu .menu-item:focused .label {
    -fx-text-fill: #3888cb;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.combo-box .label{
    -fx-text-fill: #cccccc;
}

.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box .arrow{
    -fx-background-color: #cccccc;
}

/* this part is from  default stiles fxrt.jar!/com/sun/javafx/scene/control/skin/caspian/caspian.css */
.combo-box:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box:showing > .arrow-button {
    -fx-color: -fx-pressed-base;
}

/* ------- ARROW* ------- */
.combo-box:hover > .arrow-button > .arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}


.master-grid{
    -fx-background-color: #3A4756;
    -fx-text-fill: #cccccc;
}

.contact-search-hbox, .contact-search-hbox .search-icon, .contact-search-hbox .text-field{
    -fx-background-color: #53667B;
    -fx-border-width: 0;
}

.contact-search-hbox{
    -fx-border-width: 0,0,1px,0;
}

.contact-search-hbox{
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
}

.messenger-container{
    -fx-padding: 5px;
}

#masterPane{
    -fx-background-color: #F3F6FB;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: #E5E5E7;
}

#master-tab.tab-pane{
    -fx-border-style: solid;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #53667B;
}

#master-tab.tab-pane .tab, #master-tab.tab-pane .tab:selected, #master-tab.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: #3A4756;
    -fx-border-style: none;
}

#master-tab.tab-pane .tab{
    -fx-background-color: #3A4756;
    -fx-padding: 0px 10px 5px 10px;
}
#master-tab.tab-pane .tab:selected{
    -fx-border-style: solid;
    -fx-border-color: #3888cb;
    -fx-border-width: 0px 0px 2px 0px;
}

#master-tab .tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

#master-tab.tab-pane .tab-header-area {
    -fx-border-style: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#master-tab.tab-pane .tab-header-area .tab-header-background{
    -fx-border-style: solid;
    -fx-border-color: #3A4756;
    -fx-border-width: 0 0 2px 0;
}
#master-tab .tab .tab-label{
}

#master-tab .tab .tab-label,#master-tab .tab .tab-label:focused {
    -fx-alignment: CENTER;
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 12px;
    -fx-border-style: none;
}


.contact-list, .contacts-list .list-cell:even, .contacts-list .list-cell:odd, .contacts-list .list-cell:selected{
    -fx-background-color: #3A4756;
}

.contact-list .list-cell{ -fx-padding: 5px;}

.contacts-list .list-cell:focused{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #5d718a;
}

#chat-pane .tab-pane{
    -fx-border-width: 0;
}

#chat-pane .tab-pane .tab, #chat-pane .tab-pane .tab:selected, #chat-pane .tab-pane .tab-header-area .tab-header-background{

}

#chat-pane .tab-pane .tab{
    -fx-padding: 5px 5px 5px 0px;
    -fx-background-color: #C2C6CB;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 0;
}

#chat-pane .tab-pane .tab:selected{
    -fx-background-color: #F3F6FB;
    -fx-border-width: 5px 0 0 0;-fx-border-color: #2a6597;
}

#chat-pane  .tab:selected .tab-label {
}

#chat-pane .tab-pane .tab-header-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: red;
}

#chat-pane .tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #C2C6CB;
    -fx-border-width: 0;
}

#chat-pane  .tab .tab-label{
    -fx-padding: 0 15px 0 20px;
    -fx-font-weight: bold;
}

#chat-pane  .tab .tab-label,#chat-pane  .tab .tab-label:focused {
}

.text-field, .button, .combo-box{
    -fx-border-style: solid;
    -fx-border-color: #cccccc;
    -fx-border-radius: 0px;
}

.accent-button{
    -fx-background-color: #3888cb;
    -fx-text-fill: #ffffff;
    -fx-border-color: #2f72a9;
    -fx-background-radius: 0;
}

.chat-action-button{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.chat-action-button:hover{-fx-background-color: #9e9fa9;}
.chat-action-button:pressed{-fx-background-color: #4a4a4f;}

.accent-button:hover{-fx-background-color: #419fee}
.accent-button:pressed{-fx-background-color: #2a6597}
.accent-button:disabled{-fx-background-color: #626061
}

#loggedInUserName{
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.chat-bubble-inbound, .chat-bubble-outbound, .chat-bubble-default{
    -fx-padding: 20px;
    -fx-background-color: #e9e9e9;
    -fx-background-radius: 5px;
    -fx-background-insets: 10px 0 10px 0;
}

.chat-bubble-inbound{
    -fx-background-color: #A4E7D2;
    -fx-alignment: top-left;
    -fx-background-radius: 20px 10px 20px 0px;
}
.chat-bubble-outbound{
    -fx-background-radius: 10px 20px 0px 20px;
    -fx-background-color: #A4D9F1;
    -fx-alignment: top-right;
}
.chat-component-top-box{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #CCCCCC;
}

.chat-entry-area{
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #CCCCCC;
    -fx-background-color: #FFFFFF;
}

.chat-entry-area .text-area{
    -fx-border-width: 1px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}




